/*.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.navBar {
  height: 50px;
  width: 100%;
  background-color: #486489;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.body {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right bottom, #5576a8, #8695bd, #b2b6d2, #dadae8, #ffffff);
}*/

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
}

